<h1>Ruby on Rails チャット</h1>
<%= form_for Chat.new do |f| %>
    <%= f.label "名前" %>
    <%= f.text_field :name, value:@chat_cookies, size:10 %>
    <%= f.label "メッセージ" %>
    <%= f.text_field :mesg, size:30 %>
    <%= f.submit "送信"%>
<% end %>
<script>
 document.getElementById("chat_mesg").focus();
</script>
<p>
<hr>
<p>
<% @chats.each do |chat| %>
    <p>
	<%= chat.created_at.strftime('%m/%d %H:%M:%S') %>
	<b> [ <%= chat.name %> ] </b>
	<%= chat.mesg %>
    </p>
<% end %>

